:root {
    --primary: #fcf6f5ff;
    --secondary: #0eaf56;
    --tertiary: #d72811;
}

body {
    background-color: var(--primary);
}

h1 {
    background-color: var(--secondary);
    color: var(--primary);
    text-align: center;
    font-size: 3rem;
    text-decoration: var(--tertiary) underline;
}

p {
    font-size: 1.5rem;
}

a {
    color: var(--secondary);
}

a:hover {
    text-decoration: var(--tertiary) underline;
}

a:visited {
    color: var(--secondary);    
}