:root {
    --primary: #FCF6F5FF;
    --secondary: #2BAE66FF;
}

body {
    background-color: var(--primary);
}

h1 {
    background-color: var(--secondary);
    color: var(--primary);
    text-align: center;
    font-size: 3rem;
}
